<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org" 
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<meta charset="utf-8"/>
<title>Sales Manager Application</title>
</head>
<body>
<div align="center">
	
	<div sec:authorize="isAuthenticated">
		Welcome back <b><span sec:authentication="name">Username</span></b>
		<!-- the above shows the user logged in here 
		Below show the role of the user
		 -->
		 &nbsp;
		 <span sec:authentication="principal.authorities">Roles</span>
		 
		<form th:action="@{/logout}" method="post">
		    <input type="submit" value="Logout" />
		</form>
		 
	</div>
    <h1>Sales Records</h1>
    <a href="/new" class="btn btn-success">Enter New Sale</a>
    
    <br/><br/>
    <table border="1" cellpadding="10" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sale : ${listSale}">
                <td th:text="${sale.id}">ID</td>
                <td th:text="${sale.item}">Item Name</td>
                <td th:text="${sale.quantity}">Quantity</td>
                <td th:text="${sale.amount}">Amount</td>
                <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <!-- <a th:href="/@{'/edit/' + ${sale.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${sale.id}}">Delete</a> 
                    ---------------------------------------------
                    consider this but need to make them side by side
                    <form action="@{/delete/{id}(id=${sale.id})}" method="post">
        			
        				<input type="submit" value="Edit"/>
        			</form>
        			<form action="@{/delete/{id}(id=${sale.id})}" method="post">
        			
        				<input type="submit" value="Delete"/>
        			</form>
                    
                    
                    -->
                    <a th:href="@{/edit/{id}(id=${sale.id})}"  class="btn btn-default" >Edit</a>
                     &nbsp;&nbsp;&nbsp;
        			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${sale.id})}"  class="btn btn-default">Delete</a>
        			
                </td>
            </tr>
             
        </tbody>
    </table>
</div>  
</body>
</html>
